<!DOCTYPE html>
<html style="color-scheme: dark;" class="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title>chat openai share</title>
        <link rel="stylesheet" href="https://aigee.ai/chat.openai.static.css" data-n-g="">
        <style type="text/css">
            button.flex.ml-auto.gap-2 {display: none;}
        </style>
    </head>
    <body>
        <%- html %>
        <div class="absolute bottom-0 left-0 w-full border-t md:border-t-0 dark:border-white/20 md:border-transparent md:dark:border-transparent md:bg-vert-light-gradient bg-white dark:bg-gray-800 md:!bg-transparent dark:md:bg-vert-dark-gradient pt-2 md:pl-2 md:w-[calc(100%-.5rem)]"><div class="relative flex h-full w-full flex-1 items-center justify-center gap-2"><a target="_blank" class="btn relative btn-primary" as="link" to="<%= url %>/continue" href="<%= url %>/continue"><div class="flex w-full gap-2 items-center justify-center">Continue this conversation</div></a></div><div class="px-3 pb-3 pt-2 text-center text-xs text-gray-600 dark:text-gray-300 md:px-4 md:pb-6 md:pt-3"><div class="flex justify-center gap-3 text-gray-500"><button>Report content</button><span>|</span><a href="https://openai.com/policies/terms-of-use" target="_blank" rel="noreferrer">Terms of use</a><span>|</span><a href="https://openai.com/policies/privacy-policy" target="_blank" rel="noreferrer">Privacy policy</a></div></div></div>

    </body>
</html>